@font-face {
  font-family: 'montserrat';
  src: url('font/Montserrat-Regular.ttf')format("truetype");
}

@font-face {
  font-family: 'montserrat';
  src: url('font/Montserrat-Bold.ttf')format("truetype");
  font-weight: bold;
}

* {
  font-family: 'montserrat', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'montserrat', 'sans-serif';
  color: #404040;
}

nav li a {
  color: #404040 !important;
}

nav li a:hover {
  color: #FCDF58 !important;
}

a {
  cursor: pointer;
  color: #404040;
}
a:hover {
  color: black;
}
a:focus {
  color: black
}

a span:hover {
  color: #FCDF58;
}

/*.thumbnail img {*/
/*  object-fit: contain;*/
/*}*/

.mini-blog {
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wording {
  margin-top: 2rem;
}

.wording-section {
  height: 100vh;
}

.eveneBtn{
  color: white;
  border-color: #FCDF58;
  border-radius: 12rem;
}

.eveneBtn:hover{
  color: black;
  background-color: #FCDF58;
  border-color: #FCDF58;
  cursor: pointer;
}

.tab-content {
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 1rem;
}

.nav-link.active {
  border-top-color: #FCDF58 !important;
}

.checked {
  color: #FBB03B;
}

.avatar {
  border-radius: 50%;
}

#reviews {
  max-height: 30rem;
  overflow: scroll;
}

#btn-create-review {
  margin-bottom: 1rem;
}

.main-review {
  display: flex;
  margin-bottom: 2rem;
}

.avatar-review {
  flex: 1;
}

.content-review {
  flex: 6;
}

.content-review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.review-title {
  font-style: italic;
  margin-bottom: .5rem;
}

.singleProduct .media .media-body p {
  margin-bottom: 0;
}

.vendor-rating {
  display: flex;
  position: absolute;
  top: 12rem;
  width: 100%;
  justify-content: space-between;
}

.btn-rating {
  padding: .5rem;
  border-radius: 3rem;
  background-color: rgba(255,255,255, .5);
  min-width: 5rem;
  border: none;
}

.review-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.rating-input {
  font-size: 2rem;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

#btnSubmitReview:disabled, #btnSubmitReview[disabled]:hover{
  background-color: lightgrey !important;
  border-color: lightgrey !important;
}

img{ max-width:100%;}

.top_spac{ margin: 20px 0 0;}

.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}

.inbox_chat { height: 600px; overflow-y: scroll;}

.btn-evene {
  border-radius: 12rem;
  border-color: #FCDF58;
  background-color: #FCDF58;
  color: #404040;
}
.btn-evene:hover {
  background-color: #C5AE45 !important;
  border-color: #FCDF58;
  color: #FFFFFF;
}
.btn-evene:focus {
  border-color: #FCDF58;
  background-color: #FCDF58;
}
.btn-evene:active {
  border-color: #FCDF58;
  background-color: #FCDF58;
}

@media (max-width: 480px) {
  #how-evene-work {
    min-height: 70rem;
  }
  #why-section {
    min-height: 70rem;
  }
  #how-evene-work .justify-content-center, #why-section .justify-content-center{
    justify-content: start !important;
  }
  .messaging {
    flex-direction: column;
  }
}
