@font-face {
  font-family: 'montserrat';
  src: url('font/Montserrat-Regular.ttf')format("truetype");
}

@font-face {
  font-family: 'montserrat';
  src: url('font/Montserrat-Bold.ttf')format("truetype");
  font-weight: bold;
}

* {
  font-family: 'montserrat', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'montserrat', 'sans-serif';
}

nav li a {
  color: #333333 !important;
}

nav li a:hover {
  color: #FBB03B !important;
}

/*.thumbnail img {*/
/*  object-fit: contain;*/
/*}*/

.mini-blog {
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wording {
  margin-top: 2rem;
}

.wording-section {
  height: 100vh;
}

.eveneBtn{
  border-color: #FBF000 !important;
}

.eveneBtn:hover{
  color: black !important;
  background-color: #FBF000 !important;
  cursor: pointer;
}

.tab-content {
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 1rem;
}

.nav-link.active {
  border-top-color: #FBB03B !important;
}

.checked {
  color: #FBB03B;
}

.avatar {
  border-radius: 50%;
}

#vendor-review {
  max-height: 30rem;
  overflow: scroll;
}

#btn-create-review {
  margin-bottom: 1rem;
}

.main-review {
  display: flex;
  margin-bottom: 2rem;
}

.avatar-review {
  flex: 1;
}

.content-review {
  flex: 6;
}

.content-review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.review-title {
  font-style: italic;
  margin-bottom: .5rem;
}

.singleProduct .media .media-body p {
  margin-bottom: 0;
}

.vendor-rating {
  display: flex;
  position: absolute;
  top: 12rem;
  width: 100%;
  justify-content: space-between;
}

.btn-rating {
  padding: .5rem;
  border-radius: 3rem;
  background-color: rgba(255,255,255, .5);
  min-width: 5rem;
}

.review-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

